
@model Vinarija.Models.Kupuvac

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Congratualation</title>
</head>
<body>
    <div>
        <h1>Congratualation, @Model.Ime!!!</h1>
        <p>Your Registration has been Successfully completed.</p>
    </div>
</body>
</html>