@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Korisnici</title>
</head>
<body>
    <div>
        <h3>Popolnete ja registracijata</h3>
        @Html.ActionLink("Registration", "RegistrationForm")
    </div>
</body>
</html>