@{
    ViewBag.Title = "Vino Stobi";
}
<html>
<head>
    <title>
        Vino Stobi
    </title>
    <style>
        #myImg {
            border-radius: 5px;
            transition: 0.3s;
        }
            #myImg:hover {
                opacity: 0.7;
                transform: scale(1.5);
            }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <h3>Stobi</h3>
        </div>
    </div>
    <div class="row">
        @foreach (var obj in ViewData.Model)
        {
            if (obj.ProizvoditelVino.ProizvoditelVinoIme == "Stobi")
            {
                <div class="col-md-3">
                    <div class="thumbnail">
                        @if (@obj.ImeVino == "Stobi Roze")
                        {
                            <img id="myImg" src="~/Content/pictures/s.jpg" alt="Stobi Roze" width="200px" height="200px" />
                        }
                        else if (@obj.ImeVino == "Stobi Belo")
                        {
                            <img id="myImg" src="~/Content/pictures/s1.jpg" alt="Stobi Belo" width="200px" height="200px" />
                        }
                        <div class="caption">
                            <p>@obj.ImeVino</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-3">
                <a class="btn btn-default" href="/Sostojki/IndexStobi">Sostojki</a>
        </div>
    </div>
</body>
</html>




