@{
    ViewBag.Title = "Vino Tikves";
}
<html>
<head>
    <title>
        Vino Tikves
    </title>
    <style>
        #myImg {
            border-radius: 5px;
            transition: 0.3s;
        }
            #myImg:hover {
                opacity: 0.3;
                transform: scale(1.5);
            }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <h3>Tikves</h3>
        </div>
    </div>
    <div class="row">
        @foreach (var obj in ViewData.Model)
        {
            if (obj.ProizvoditelVino.ProizvoditelVinoIme == "Tikves")
            {
                <div class="col-md-3">
                    <div class="thumbnail">
                        @if (@obj.ImeVino == "Tikves Crveno")
                        {
                            <img id="myImg" src="~/Content/pictures/tikvesalexandria.jpg" alt="Tikves Red" width="200px" height="200px" />
                        }
                        else if (@obj.ImeVino == "Tikves Crno")
                        {
                            <img id="myImg" src="~/Content/pictures/kratosija.jpg" alt="Tikves Black" width="200px" height="200px" />
                        }
                        else if (@obj.ImeVino == "Tikves Belo")
                        {
                            <img id="myImg" src="~/Content/pictures/tikvesalexandria1.jpg" alt="Tikves Belo" width="200px" height="200px" />
                        }
                        <div class="caption">
                            <p>@obj.ImeVino</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-3">
                <a class="btn btn-default" href="/Sostojki/IndexTikves">Sostojki</a>
            </div>
    </div>
</body>
</html>




