
@{
    ViewBag.Title = "KolicinaAction";
}

<h2>KolicinaAction</h2>
<html>
<head>
    <title>
        Kolicina
    </title>
</head>
<body>
    <a href="/Home/Index" class="btn btn-default">Home</a>
    <table style="100%">

        <tr>
            <th>Tip Vino</th>
            <th>Kolicina</th>   
        </tr>

        @foreach (var obj in ViewData.Model)
        {
            <tr>

                <td>
                    <ul><li>@obj.Vino.ImeVino</li></ul>
                </td>

                <td>
                    <ul><li>@obj.Kolicina</li></ul>
                </td>

            </tr>
        }

    </table>
</body>
</html>


